body {color:#111;
        font-size: 25px;
        text-align: center;
        background-color:#fff;
        padding: 30px 100px;
}
header { width: 80%;
        align-content: center;
        margin: 50px 20px;
}
/*h1*/
h1 {    text-align: center;
        padding: 10px;
        height: 30px;
        border-bottom:2px solid #0a0a23;
        margin: 10px;
}
.hello { background-color: blueviolet;
        border: none;
}
.title { width: 100%;
}

nav {   font-family: arial, Helvetica, sans-serif;
        font-size: 35px;
        width:fit-content;
        position:sticky;
        top: 0;
        z-index: 1;
}
nav ul { list-style-type: none;
        margin:0;
        padding: 0;
        overflow: hidden;
        background-color:#3d3d3e;
        text-align:left;
        position:sticky;
        top: 50px;
}

nav ul li {float: left;
           border-right: 1px solid #555;
}
      
nav ul li a {  display:block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

nav ul li a:hover { background-color:rgba(255, 255, 0, 0.532);
        position:sticky; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content*/
}
  
     /* Change the link color to #111 (black) on hover */

aside ul { list-style-type: none;
        margin: 10px 0px;
        padding: 0;
        width: 20%;
        background-color:#0a0a23;
        border: 5px solid #fdb347;
}
aside ul a { display:block;
    color: rgb(247, 239, 239);
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-size: 20px;
    padding: 14px 16px;
}
aside ul a:hover {background-color: #fdb347;
    /* Change the link color to #111 (black) on hover */
    position:sticky; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content*/
}
img {width: 330px;
    height: 220px; ;
    padding: 0px 20px;
}
.propedeuse { 
        padding: 20px 20px

}
.characteristics {text-align:left;
margin: 20px;
}

table {color:#333;
        font-size:18px;
        text-align: left;
        background-color:rgba(172, 214, 230, 0.758);
        margin:0px;
}
table td {border-bottom:1px solid #111;
        border-right:1px solid #111;
}
table th {border:1px solid #111;
        background-color:rgb(188, 143, 231) ;
}
table caption {background-color:rgb(19, 109, 220);
        font-size:30px;
}
ul li { list-style-type: none;
}

section {color:#111;
        font-size: 20px;
        text-align: left;
        margin: 10px 200px ;
        border: 10px solid rgba(51, 51, 51, 0.315);
        box-shadow: ;
        padding: 10px 10px;
        position:absolute;
        top: 100px;
        left: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
}
.blog { background-color: rgba(205, 215, 205, 0.5);
        border: 1px solid #2a2a509f;
        padding: 20px;
        margin: 10px;
        width: 35%;
}
.webblog {flex-direction: row;
        font-size: 15px;
        text-align: left;
}
details { margin-bottom: 15px;
}
summary {
        border: 1px solid #aaa;
}
em {    background-color:#93eaa99f;
        border: 1px solid #0a0a23;
        border-top: none;
        margin: 5px ;
}
.home-img { margin: 20px;
        display: flex;
}