body {color:#111;
        font-size: 30px;
        text-align: center;
        background-color:white ;
}

nav {   font-family: arial, Helvetica, sans-serif;
        font-size: 50px;
}

header { background-color: blueviolet;
         width: 40%;
}

nav ul { list-style-type: none;
        margin:0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        text-align:left;
}

nav ul li {float: left;
}
      
nav ul li a {  display:block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

nav ul li a:hover { background-color: #111;
        position:sticky; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content*/
}
  
     /* Change the link color to #111 (black) on hover */

.aside-menu { list-style-type: none;
        margin: 0;
        padding: 0;
        width: 20%;
        background-color:rgb(17, 164, 164);
}
.aside-menu a { display:block;
    color: rgb(9, 9, 9);
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-size: 20px;
    padding: 14px 16px;
}
.aside-menu a:hover {background-color: rgb(143, 31, 31);
    /* Change the link color to #111 (black) on hover */
    position:sticky; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content*/
}
img {width: 250px;
    height: ;
}
.characteristics {text-align:left;
margin: 200px;
}

table {color:#333;
        font-size:18px;
        text-align: left;
        background-color:rgb(214, 222, 222);
        margin:50px;
}
table td {border:1px solid #111;
}
table th {border:1px solid #111;
}
table caption {background-color:darkgray;
        font-size:30px;
}