body {color:#111;
        font-size: 30px;
        text-align: center;
        background-color:ghostwhite ;
}

nav {   font-family: arial, Helvetica, sans-serif;
        font-size: 35px;
        width:fit-content;
        position:sticky;
        top: 0;

}

header { background-color: ;
         width: 80%;
         align-content: center;
         margin: 50px 20px;
}

nav ul { list-style-type: none;
        margin:0;
        padding: 0;
        overflow: hidden;
        background-color:#3d3d3e;
        text-align:left;
        position:sticky;
        top: 50px;
}

nav ul li {float: left;
           border-right: 1px solid #555;
}
      
nav ul li a {  display:block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

nav ul li a:hover { background-color:rgba(255, 255, 0, 0.532);
        position:sticky; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content*/
}
  
     /* Change the link color to #111 (black) on hover */

aside ul { list-style-type: none;
        margin: 10px 0px;
        padding: 0;
        width: 20%;
        background-color:#0a0a23;
        border: 5px solid #fdb347;
}
aside ul a { display:block;
    color: rgb(247, 239, 239);
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #555;
    font-size: 20px;
    padding: 14px 16px;
}
aside ul a:hover {background-color: #fdb347;
    /* Change the link color to #111 (black) on hover */
    position:sticky; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content*/
}
img {width: 350px;
    height: 220px; ;
    padding: 0px 20px;
}
.characteristics {text-align:left;
margin: 20px;
}

table {color:#333;
        font-size:18px;
        text-align: left;
        background-color:rgb(214, 222, 222);
        margin:50px;
}
table td {border:1px solid #111;
}
table th {border:1px solid #111;
}
table caption {background-color:darkgray;
        font-size:30px;
}
ul li { list-style-type: none;
}

section {color:#111;
        font-size: 20px;
        text-align: left;
        margin: 10px 200px ;
        border: 10px solid rgba(51, 51, 51, 0.315);
        padding: 10px 10px;
        position:absolute;
        top: 100px;
        left: 200px;
}
